@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 251, 255);
  padding: 2rem;
}

nav h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #84f5ff;

  font-size: 2rem;
}

nav h1 a {
  color: #4ff0ff;
  text-shadow: #066d78 1px 0 1px;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-section a {
  color: #4ff0ff;
  text-shadow: #066d78 1px 0 1px;
  text-decoration: none;
  margin: 0 1em;
}

.menu-btn {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: none;
}

@media (max-width: 800px) {
  .nav-links {
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: calc(100vh - 4em);
    background-color: #fff;
    top: 4em;
    left: 0;
    transition: all 0.3s ease-in-out;
    transform: translateX(-100%);
  }

  .nav-section {
    display: flex;
    height: 50%;
    font-size: 2rem;
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .menu-btn {
    display: block;
  }

  .menu-btn div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
  }

  nav h1 {
    font-size: 1.7rem;
  }
}

@media (max-width: 500px) {
  nav h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  nav h1 {
    font-size: 1.2rem;
  }
}

.dummy-block {
  visibility: hidden;
}
